

<!DOCTYPE html>
<html>
    <head>
        <title>Smartsheet</title>
        <link rel="stylesheet" type="text/css" title="smartsheet_common" href="https://app.smartsheet.com/b/css/common_29.0.1_h.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script>
        $(document).ready(function() {
            $("#view_account_data" ).hide();
            $("#view_account").click(function(event) {
                event.preventDefault();
                var json = $(this).getJson('/account');
                console.log(json);
                $("#view_account_data" ).show();
                $("#view_account_button").hide();
                $("#account_name").html("Name: " + json.first_name + " " + json.last_name);
                $("#account_email").html("Email: " + json.email);

                // Sheets
                var sheetsList = "";
                $.each(json.sheets, function(key, value) {
                    sheetsList += "<li class='sheets_list'><a id='"+value.id+"' href='#'>" + value.name + "</a></li>";
                });
                if(sheetsList == ""){
                    sheetsList += "<li>No sheets present!</li>";
                }
                $("div#account_sheets ul").html(sheetsList);

                // Folders
                var folders = "";
                $.each(json.folders, function(key, value) {
                    folders += "<li class='folder_list' id='"+value.id+"'><a id='"+value.id+"' href='#'>" + value.name + "</a></li>";
                });
                if(folders == ""){
                    folders += "<li>No folder present!</li>";
                }
                $("div#account_folders ul").html(folders);

                // Workspaces
                var workspace = "";
                $.each(json.workspaces, function(key, value) {
                    workspace += "<li class='workplace_list' id='"+value.id+"'><a id='"+value.id+"' href='#'>" + value.name + "</a></li>";
                });
               if(workspace == ""){
                    workspace += "<li>No workspaces present!</li>";
                }
                $("div#account_workplaces ul").html(workspace);

                // Templates
                var template = "";
                $.each(json.templates, function(key, value) {
                    template += "<li class='template_list' id='"+value.id+"'><a id='"+value.id+"' href='#'>" + value.name + "</a></li>";
                });
                if(template == ""){
                    template += "<li>No templates present!</li>";
                }
                $("div#account_templates ul").html(template);

                });



            $.fn.getJson = function(url) {
                var root = $.ajax({
                url: url,
                type: "GET",
                cache : false,
                async: false,
                dataType : 'json'
                }).responseText;
                return eval('(' + root + ')');
            }

        });
        </script>

    </head>
    <body style="margin:0px; overflow:hidden;" class="clsBody">
        <div id="AFXQ" class="clsJspForm clsBorderBox" style="width:1024px; height:500px; position:absolute; left:50%; top:100px; margin-left:-500px;">
            <div id="view_account_button" style="text-align:center;margin-top: 100px;">
                <a id="view_account" href="#">
                    <button style="width:300px;font-size: 14px;font-weight: bold;height: 100px;">View My Smartsheet Account</button>
                </a>
            </div>
            <div id="view_account_data">
                <div id="account_name"></div>
                <div id="account_email"></div>
                <div id="account_sheets">
                    <h3>Sheets:</h3>
                    <ul></ul>
                </div>
                <div id="account_workplaces">
                    <h3>Workplaces:</h3>
                    <ul></ul>
                </div>
                <div id="account_folders">
                    <h3>Folders:</h3>
                    <ul></ul>
                </div>
                <div id="account_templates">
                    <h3>Templates:</h3>
                    <ul></ul>
                </div>
            </div>





        </div>
    </body>

</html>
