<!DOCTYPE html>
<html>
    <head>
        <title>Smartsheet</title>
        <link rel="stylesheet" type="text/css" title="smartsheet_common" href="https://app.smartsheet.com/b/css/common_29.0.1_h.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script>
        $(document).ready(function() {







        });
        </script>



    </head>





    <body style="margin:0px; overflow:hidden;" class="clsBody">

        <div id="AFXQ" class="clsJspForm clsBorderBox" style="width:510px; height:360px; position:absolute; left:50%; top:100px; margin-left:-255px;">

            <!--
            TODO change hard-coded url
            -->

            <a href="http://localhost:9011/home">
                <button>View My Smartsheet Account</button>
            </a>

        </div>
    </body>

</html>
